[Unit]
Description=mitmproxy web daemon
After=network.target
Wants=network.target iptables.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/mitmweb --web-port=8081 --web-host=0.0.0.0 --no-web-open-browser --mode=transparent --showhost
Restart=always

[Install]
WantedBy=multi-user.target
